.InputElement {
  margin-bottom: 10px;
}
.InputElement input,
.InputElement textarea {
  width: 100%;
  display: block;
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-sizing: border-box;
}
.InputElement textarea {
  resize: none;
  height: 80px;
}
.InputElement label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}
::placeholder {
  font: inherit !important;
}
.invalid {
  color: red;
}
.invalidInput {
  border: 1px solid red !important;
}
